*{margin: 0px;padding: 0px;}
.bwsmsy{margin:0 auto;width:1352px;height:1922px;background:#fff;}
.top{width:1352px;height:550px;display:grid;justify-content: end;grid-template-rows:81px 469px;}
.top .nav{width:1352px;height: 81px;display: grid; grid-template-columns: 297px 1055px;}
.top .nav .logo img{margin: 19px 0 0 135px;}
.top .home .a{height: 81px;float: right;margin-right: 135px;}
.top .home a{color: #000;font-family: Arial, Helvetica, sans-serif;font-size:14px;margin: 36px 0 0 55px;line-height: 81px;text-decoration: none;}
.top .home a:hover{color: #66c5b4;text-decoration: underline;}
.main{}
.main .main1{width: 1352px;height: 407px;}
.main1 .imgz1{margin-left: 135px;}
.main1 .imgz1 img{margin-left:1px;}
.main1 .imgz1 a{border: 1px #fff;solid;}
.main1 .imgz1 a:hover{border: #66c5b4 1px solid;}
.main .main2{margin-top:10px; width: 1352px;height: 460px;background:#f8f8f8; }
.main2 .imgz2{margin-left: 146px;}
.main2 .imgz2 img{margin-left: 10px;}
.main .main2 .sekuai{margin: 33px auto 0; width: 176px;height: 37px;border-radius:18.5px; background: #66c5b4;}
.main .main2 .sekuai P{font-family: Arial, Helvetica, sans-serif;font-size: 14px; text-align: center;padding-top: 12px; color: #fff;height:37px;}
.main .main2 .sekuai p a{color: #fff;text-decoration:none;}
.main .main2 .sekuai p a:hover{color:#0044d6; text-decoration: underline;}
.main .main2 .sekuai:hover{background: #c46666;}
.main .main3{width: 1352px; height: 452px;}
.main31{margin: 0 auto; width: 1082px;height: 196px;display: grid;grid-template-columns: 307px 364px 58px 354px;}
.main31 .main312{margin-left: 16px;}
.main31 .main312 h2{font-family:"Microsoft YaHei";font-size: 14px;margin-top: 5px;}
.main31 .main312 h2 a{color: #000;text-decoration: none;}
.main31 .main312 p{margin-top: 12px;font-size: 12px;line-height: 21px;text-indent: 2em;}
.main31 .main312 p a{color: #a4a4a4;text-decoration: none;}
.main31 .main312 p a:hover{color: #66c5b4;text-decoration: underline;}
.main31 .main312 .h2{font-family: ;font-size: 14px;margin-top:45px;}
.foot{width:1352px;height: 54px;background:#66c5b4;display: grid;grid-template-columns:repeat(2,676px);}
.footleft p{margin-left: 135px; float: left;line-height: 54px;color: #fff;}
.footright p{margin-right: 145px;float: right;line-height: 54px;color: #fff;}
.foot p a{color: #fff;text-decoration: none;}
.foot p a:hover{color: crimson;}